<div class="container">
  <div class="row">
    <h1>Orders:</h1>
    <% @orders.each do |order| %>
      <div>
          <h4>Order# <%= order.id %></h4>
          <p>Status: <%= order.state %></p>
          <p>Contents:
            <% order.order_details.each do |detail| %>
            <p class="content"><%= detail.quantity %> <%= detail.menu_item.name %></p>
            <% end %>
          </p>
          <p>Amount: <%= humanized_money_with_symbol(order.amount) %></p>
        <hr>
      </div>
    <% end %>
  </div>
</div>
