<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Order</h1>
      <ul>
        <li>Order ID: <%= @order.id %></li>
        <li>Status: <%= @order.state %></li>
        <li>Order Contents:
          <% @order.order_details.each do |detail| %>
            <p><%= detail.quantity %> <%= detail.menu_item.name %></p>
          <% end %>
        </li>
        <li>Total: <%= humanized_money_with_symbol(@order.amount) %></li>
      <ul>
    </div>
  </div>
</div>
