<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Posts</h1>
  <% @posts.each do |post| %>
    <div class="post">
      <h3><%= post.title %></h3>
      <span><%= post.created_at.to_date %></span>
      <p><%= post.content %></p>
      <% if policy(post).show? %>
        <td><%= link_to 'Show', post, class: "btn btn-info" %></td>
      <% end %>
      <% if policy(post).update? %>
        <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-success"%></td>
      <% end %>
      <% if policy(post).destroy? %>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %></td>
      <% end %>
      <hr>
    </div>

  <% end %>
  <br>
  <% if policy(Post).new? %>
    <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
  <% end %>

  <hr>
</div>
